body {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.25em; /* 20px/16 = 1.25 */
    font-family: 'DM Sans', sans-serif; /*DM Sans won't work without this line*/
    color: #F1F0EA; /*Alabaster*/
    background-color: #000000; 
}

a {
    text-decoration: none;
}

ul>ul {
    list-style-type: none;
}

a.nav-link {
    color: #F1F0EA;
}

a.nav-link:hover {
    color: #FF5A43; /*Crayola orange-red*/
}

