body {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.25em; /* 20px/16 = 1.25 */
    font-family: 'DM Sans', sans-serif; /*DM Sans won't work without this line*/
    color: #5452F6;
}

a {
    text-decoration: none;
}

ul>ul {
    list-style-type: none;
}

/*Link states are working! Is a:link possible with a.nav-link?*/
a.nav-link {
    color: #5452F6;
}

a:hover {
    text-decoration-line: underline;
}

a:active {

}

/*Link states for navigation link: I want to have a:hover underline or colour*/