body {
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    font-size: 1.25em; /* 20px/16 = 1.25 */
    font-family: 'DM Sans', sans-serif;
    color: #512713;
}

a {
    text-decoration: none;
}

ul>ul {
    list-style-type: none;
}

a.nav-link {
    color: #5452F6;
}

a:hover {
    text-decoration-line: underline;
}

a:active {

}
